<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903544881796-ns2o1vqf4h9uae7n6q4mfa4jv0h0gafp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903544881796-ns2o1vqf4h9uae7n6q4mfa4jv0h0gafp</string>
	<key>API_KEY</key>
	<string>AIzaSyDCofAePopGhSPYJYJpn1N9PuGQt2rjBfU</string>
	<key>GCM_SENDER_ID</key>
	<string>903544881796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beerMeApp</string>
	<key>PROJECT_ID</key>
	<string>beerme4-abad9</string>
	<key>STORAGE_BUCKET</key>
	<string>beerme4-abad9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903544881796:ios:90596e4e208fa63fb3f8d1</string>
	<key>DATABASE_URL</key>
	<string>https://beerme4-abad9.firebaseio.com</string>
</dict>
</plist>